In [2]:
import pandas as pd
import numpy as np

Pri tvorbe tohto datasetu využívame tabuľku game a zároveň aj vytvorený dataFrame s názvom dataFrameGameGoalies. Tento dataFrame sme vytvorili pri tvorbe druhého datasetu.

In [3]:
gameInput = pd.read_csv("nhl-game-data/game.csv").sort_values(by=['date_time_GMT'])

In [5]:
gameInput1 = pd.read_csv("datasets/dataFrameGameGoalies.csv")

In [44]:
gameInput1

,game_id,season,date_time,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,...,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,total,home_win,away_win
0,2011020002,20112012,2011-10-06,0,2,0,1,4,0,5,...,0.917199,10,8,3.1,2.8,2.5,2.2,2,6,5
1,2011020001,20112012,2011-10-06,1,2,1,3,0,0,2,...,0.910287,6,4,3.1,1.4,2.9,3.7,3,6,4
2,2011020007,20112012,2011-10-07,0,1,0,3,1,0,4,...,0.908225,7,24,3.1,3.1,3.4,3.0,5,6,5
3,2011020004,20112012,2011-10-07,4,3,0,1,5,0,2,...,0.904372,12,14,3.5,2.5,3.3,2.9,6,7,6
4,2011020009,20112012,2011-10-07,2,3,0,2,4,0,5,...,0.924993,26,3,2.6,3.3,2.3,2.9,5,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9844,2018030413,20182019,2019-06-02,2,4,1,2,4,0,3,...,0.914906,19,6,3.4,2.3,3.5,1.6,9,7,8
9845,2018030414,20182019,2019-06-04,2,4,0,3,2,0,2,...,0.914906,19,6,3.2,2.9,4.1,1.6,6,6,9
9846,2018030415,20182019,2019-06-07,4,2,1,2,3,1,7,...,0.912837,6,19,3.9,1.9,3.4,3.0,3,8,6
9847,2018030416,20182019,2019-06-10,3,2,0,2,7,1,4,...,0.914906,19,6,3.3,2.5,3.6,1.8,6,7,7
9848,2018030417,20182019,2019-06-13,2,3,1,7,2,0,2,...,0.912837,6,19,3.8,1.9,3.0,2.8,5,7,6

Vytvoríme si kópiu dataFrame-u, ktorý obsahuje aj percentuálnu úspešnosť brankárov.

In [45]:
games = gameInput1

In [47]:
games

,game_id,season,date_time,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,...,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,total,home_win,away_win
0,2011020002,20112012,2011-10-06,0,2,0,1,4,0,5,...,0.917199,10,8,3.1,2.8,2.5,2.2,2,6,5
1,2011020001,20112012,2011-10-06,1,2,1,3,0,0,2,...,0.910287,6,4,3.1,1.4,2.9,3.7,3,6,4
2,2011020007,20112012,2011-10-07,0,1,0,3,1,0,4,...,0.908225,7,24,3.1,3.1,3.4,3.0,5,6,5
3,2011020004,20112012,2011-10-07,4,3,0,1,5,0,2,...,0.904372,12,14,3.5,2.5,3.3,2.9,6,7,6
4,2011020009,20112012,2011-10-07,2,3,0,2,4,0,5,...,0.924993,26,3,2.6,3.3,2.3,2.9,5,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9844,2018030413,20182019,2019-06-02,2,4,1,2,4,0,3,...,0.914906,19,6,3.4,2.3,3.5,1.6,9,7,8
9845,2018030414,20182019,2019-06-04,2,4,0,3,2,0,2,...,0.914906,19,6,3.2,2.9,4.1,1.6,6,6,9
9846,2018030415,20182019,2019-06-07,4,2,1,2,3,1,7,...,0.912837,6,19,3.9,1.9,3.4,3.0,3,8,6
9847,2018030416,20182019,2019-06-10,3,2,0,2,7,1,4,...,0.914906,19,6,3.3,2.5,3.6,1.8,6,7,7
9848,2018030417,20182019,2019-06-13,2,3,1,7,2,0,2,...,0.912837,6,19,3.8,1.9,3.0,2.8,5,7,6

Teraz si musíme vytvoriť dva ďalšie stĺpce, ktoré budú obsahovať, počet víťazstiev domáceho alebo hosťujúceho tímu v predchádzajúcich 5 zápasoch.

In [48]:
games['home_win'] = 0
games['away_win'] = 0

In [49]:
games.head()

,game_id,season,date_time,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,...,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,total,home_win,away_win
0,2011020002,20112012,2011-10-06,0,2,0,1,4,0,5,...,0.917199,10,8,3.1,2.8,2.5,2.2,2,0,0
1,2011020001,20112012,2011-10-06,1,2,1,3,0,0,2,...,0.910287,6,4,3.1,1.4,2.9,3.7,3,0,0
2,2011020007,20112012,2011-10-07,0,1,0,3,1,0,4,...,0.908225,7,24,3.1,3.1,3.4,3.0,5,0,0
3,2011020004,20112012,2011-10-07,4,3,0,1,5,0,2,...,0.904372,12,14,3.5,2.5,3.3,2.9,6,0,0
4,2011020009,20112012,2011-10-07,2,3,0,2,4,0,5,...,0.924993,26,3,2.6,3.3,2.3,2.9,5,0,0

V tomto prípade nejdeme vytvárať nový dataFrame, ale budeme aktualizovať dataFrame games.

Hľadáme posledných 10 zápasov pre domáci aj hosťujúci klub. Vypočítame priemerný počet gólov v týchto zápasoch, a zároveň aj počet výhier z týchto zápasov.

In [36]:
for index, row in games.iterrows():
    homeS = 0;
    homeC = 0;
    homeW = 0;
    awayS = 0;
    awayC = 0;
    awayW = 0;
    if not (gameInput.loc[((gameInput['home_team_id'] == row['home_team_id']) | (gameInput['away_team_id'] == row['home_team_id'])) & (gameInput['date_time'] < row['date_time'])].tail(10).empty):
        homeLast = gameInput.loc[((gameInput['home_team_id'] == row['home_team_id']) | (gameInput['away_team_id'] == row['home_team_id'])) & (gameInput['date_time'] < row['date_time'])].tail(10)
        for index1, game in homeLast.iterrows():
            if(game['home_team_id'] == row['home_team_id']):
                homeS += game['home_goals']
                homeC += game['away_goals']
                if(game['home_goals'] > game['away_goals']):
                    homeW += 1
            elif (game['away_team_id'] == row['home_team_id']):
                homeS += game['away_goals']
                homeC += game['home_goals']
                if(game['away_goals'] > game['home_goals']):
                    homeW += 1
    if not (gameInput.loc[((gameInput['home_team_id'] == row['away_team_id']) | (gameInput['away_team_id'] == row['away_team_id'])) & (gameInput['date_time'] < row['date_time'])].tail(10).empty):
        awayLast = gameInput.loc[((gameInput['home_team_id'] == row['away_team_id']) | (gameInput['away_team_id'] == row['away_team_id'])) & (gameInput['date_time'] < row['date_time'])].tail(10)
        for index1, game in awayLast.iterrows():
            if(game['away_team_id'] == row['away_team_id']):
                awayS += game['away_goals']
                awayC += game['home_goals']
                if(game['away_goals'] > game['home_goals']):
                    awayW += 1
            elif (game['home_team_id'] == row['away_team_id']):
                awayS += game['home_goals']
                awayC += game['away_goals']
                if(game['home_goals'] > game['away_goals']):
                    awayW += 1
    games.loc[index, 'home_scored_avg'] = homeS/10
    games.loc[index, 'away_scored_avg'] = awayS/10
    games.loc[index, 'home_conceded_avg'] = homeC/10
    games.loc[index, 'away_conceded_avg'] = awayC/10
    games.loc[index, 'home_win'] = homeW    
    games.loc[index, 'away_win'] = awayW

In [51]:
games.head(10)

,game_id,season,date_time,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,...,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,total,home_win,away_win
0,2011020002,20112012,2011-10-06,0,2,0,1,4,0,5,...,0.917199,10,8,3.1,2.8,2.5,2.2,2,0,0
1,2011020001,20112012,2011-10-06,1,2,1,3,0,0,2,...,0.910287,6,4,3.1,1.4,2.9,3.7,3,0,0
2,2011020007,20112012,2011-10-07,0,1,0,3,1,0,4,...,0.908225,7,24,3.1,3.1,3.4,3.0,5,0,0
3,2011020004,20112012,2011-10-07,4,3,0,1,5,0,2,...,0.904372,12,14,3.5,2.5,3.3,2.9,6,0,0
4,2011020009,20112012,2011-10-07,2,3,0,2,4,0,5,...,0.924993,26,3,2.6,3.3,2.3,2.9,5,0,0
5,2011020006,20112012,2011-10-07,4,0,1,4,3,0,1,...,0.919160,29,18,2.0,4.0,2.6,2.8,5,0,0
6,2011020003,20112012,2011-10-07,4,5,0,5,2,0,0,...,0.912254,23,5,1.8,3.1,2.7,2.9,7,0,0
7,2011020005,20112012,2011-10-07,4,3,0,2,1,0,1,...,0.897491,17,9,3.2,2.6,2.8,2.7,8,0,0
8,2011020013,20112012,2011-10-08,0,5,0,3,2,0,0,...,0.911143,15,12,2.3,2.5,3.2,2.7,7,0,0
9,2011020020,20112012,2011-10-08,1,4,0,2,3,0,1,...,0.924993,24,3,3.2,3.0,2.3,2.6,3,0,0

Dataset games si rozdelíme do dvoch skupín, na trénovaciu a testovaciu.

In [52]:
dataTrain1 = games.loc[games.season != 20182019]
dataTest1 = games.loc[games.season == 20182019]

Následne odstránime nepotrebné stĺpce a spravíme ďalšie rozdelenie, na vstupné vektory a očakávané hodnoty.

In [41]:
dataSet3TrainX = dataTrain1.drop('season',1).drop('game_id',1).drop('date_time',1).drop('total',1)
dataSet3TrainY = dataTrain1.total
dataSet3TestX = dataTest1.drop('season',1).drop('game_id',1).drop('date_time',1).drop('total',1)
dataSet3TestY = dataTest1.total

,game1home,game1away,game1isHome,game2home,game2away,game2isHome,game3home,game3away,game3isHome,game4home,...,home_perc,away_perc,home_team_id,away_team_id,home_scored_avg,home_conceded_avg,away_scored_avg,away_conceded_avg,home_win,away_win
0,0,2,0,1,4,0,5,4,0,3,...,0.908803,0.917199,10,8,3.1,2.8,2.5,2.2,6,5
1,1,2,1,3,0,0,2,1,0,6,...,0.936410,0.910287,6,4,3.1,1.4,2.9,3.7,6,4
2,0,1,0,3,1,0,4,2,0,2,...,0.914468,0.908225,7,24,3.1,3.1,3.4,3.0,6,5
3,4,3,0,1,5,0,2,4,1,3,...,0.913319,0.904372,12,14,3.5,2.5,3.3,2.9,7,6
4,2,3,0,2,4,0,5,4,0,4,...,0.905153,0.924993,26,3,2.6,3.3,2.3,2.9,3,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8486,6,5,1,0,1,1,3,4,0,3,...,0.932634,0.917073,15,14,3.9,2.4,2.9,3.0,8,6
8487,6,5,1,0,1,1,3,4,0,3,...,0.932634,0.917073,15,14,3.7,2.5,3.1,2.7,7,7
8488,3,0,1,5,6,0,1,0,0,4,...,0.902329,0.909422,14,15,3.2,2.8,3.3,2.6,7,6
8489,6,5,1,0,1,1,3,4,0,3,...,0.932634,0.917073,15,14,3.3,2.6,3.2,2.9,6,7
8490,3,0,1,5,6,0,1,0,0,4,...,0.902329,0.909422,14,15,3.0,2.6,3.2,2.5,7,6

In [43]:
dataSet3TrainX.to_csv('.\datasets\dataSet3TrainX.csv', encoding='utf-8', index=False)
dataSet3TrainY.to_csv('.\datasets\dataSet3TrainY.csv', encoding='utf-8',index=False)
dataSet3TestX.to_csv('.\datasets\dataSet3TestX.csv', encoding='utf-8', index=False)
dataSet3TestY.to_csv('.\datasets\dataSet3TestY.csv', encoding='utf-8', index=False)

C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

C:\Users\Filip\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [19]:
games.to_csv('.\datasets\dataset3.csv', encoding='utf-8', index=False)